{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">后台管理</a></li>
    <li><span>分类首页</span></li>
</ol>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>分类id</th>
            <th>分类名称</th>
        </tr>
    </thead>
    <tbody>
    {% for item in categoryInfoList %}
        <tr>
            <td>{{ item._id.toString() }}</td>
            <td>{{ item.categoryName }}</td>
            <td>
                <a href="/admin/category_edit?id={{item._id.toString()}}">修改</a> |
                <a href="/admin/category_delete?id={{item._id.toString()}}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pager">
        <li class="previous"><a href="/admin/category_index?page={{page-1}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
        <li> 总共{{count}}条数据，每页显示{{limit}}条数据，总共{{pages}}页，当前第{{page}}页 </li>
        <li class="next"><a href="/admin/category_index?page={{page+1}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

{% endblock %}